.about {
    flex-grow: 1;
}

.about p {
    font-size: 18px;
    font-style: normal;
    color: #61727D; 
    text-align: center;     
}

.about {
    margin-bottom: 20px;
    color: #99B4C5;
    text-align: center;   
}

.about .chip {
    display: inline-block;
    padding: 0 25px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 20px;
    background-color: #D3BBED;
    color:#ffffff;;
    cursor: pointer;
    margin: 5px 5px 3px 5px;
    font-family: "Righteous", cursive;

}

.about .chip a{
    color: #ffffff;
    text-decoration: none;
   

}

.about .info{
    width: 100%;
    
}

.about .info img{
    width: 80%;
    border-radius: 300px;
    
}

@media (min-width: 800px){
    .about .info img{
        width: 15%;
    }
}






