.about {
    flex-grow: 1;
}

.about p {
    font-size: 18px;
    font-style: normal;
    color: #61727D;        
}

.about {
    margin-bottom: 20px;
    color: #99B4C5;
    text-align: center;   
}

.about .info{
    width: 100%;
    
}

.about .info img{
    width: 80%;
    border-radius: 300px;
    
}

@media (min-width: 800px){
    .about .info img{
        width: 15%;
    }
}






