
.contact {
    flex-grow: 1;
    position: relative;

  }
  
.contact h1 {
    margin-bottom: 20px;
    color: #99B4C5;
  }
.contact h4 {
    color: #99B4C5;
}
.contact p{
    color: #61727D;
}

.contact .footer_social {
    width: 100%;
    
    
  }


.contact .dev a{
  text-decoration: none;
  color: #99B4C5;
  text-align: center;
  position: absolute;
  bottom: 16px;
  left: calc(50% - (143px / 2));
  
 
}


.contact .core{
    color: #D8B5FF;
}
  
.contact .footer_social  img {
    max-width: 50px;
    
    
  }
  
.contact  .footer_social img:not(:last-child) {
    margin-right: 10px;
  }
  
